<hr>

<div id="tutorial-footer">
  <h2>Tutorial Q&amp;A and Reporting Issues</h2>

  <p>If you need help or have questions with this tutorial, please check HCC for answers to existing questions about this tutorial by using the Find Answers button below.  You can post a new HCC question by using the Ask Questions button below.</p>

  <p>
    <a class="btn" href="https://community.hortonworks.com/topics/tutorial-{{ page.tutorial-id }}.html" role="button">Find Answers</a>
    <a class="btn pull-right" href="https://community.hortonworks.com/questions/ask.html?space=81&topics=tutorial-{{ page.tutorial-id }}&amp;topics={{ page.platform }}" role="button">Ask Questions</a>
  </p>

  <p>Tutorial Name: <strong>{{ page.title }}</strong></p>
  <p>HCC Tags:<strong> tutorial-{{ page.tutorial-id }}</strong> and <strong>{{ page.platform }}</strong></p>
  <p>If the tutorial has multiple components please indicate which one your question relates to.</p>

  <p>All Hortonworks, partner and community tutorials are posted in the Hortonworks GitHub repository and can be contributed to by following the <a href="https://github.com/hortonworks/data-tutorials/wiki">Tutorial Contribution Guide</a>.  For issues/bugs/feedback, please <a href="https://github.com/hortonworks/data-tutorials/issues/new">submit an issue</a> and we will do our best to resolve it!</p>
</div>
